@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

body, html
{
    margin: 0px !important;
    padding: 0px !important;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.FlexRow
{
    display: flex;
    width: 100%;
}

.FlexSpaceBetween {display: flex; justify-content: space-between;}

.FlexCC // Flex x: center y: center
{

}


/************************* PAGES ***************************/

.Page
{
    padding: 3vh;
}

.Page h1
{
    font-size: 4.5rem;
    line-height: 1;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}