div.DetailDataRow
{
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  width: 100%;
  padding-bottom: 1rem;
  padding-top: 1rem;
  border-bottom: solid 1px rgba(0, 0, 0, 0.3);
  text-align: left;
  justify-content: left;
}

h6.DetailDataRow
{
  display: inline-block;
  max-width: 25%;
  min-width: 15%;
  margin-bottom: 0 !important;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.2;
  margin-top: 0px;
}

.DetailControlRow
{
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  width: 100%;
  padding-bottom: 1rem;
  padding-top: 2rem;
  text-align: left;
  justify-content: left;
}

input.DetailDataRowInput,
select.DetailDataRowSelect
{
  display: inline-block;
  outline: 1px solid #E0E0E0;
  border: none;
  width: max(20%, 200px);
  padding: 0.2rem;
  background: #f0f0f0;
  color: #000;
  background-color: #fff;
}

.DetailDataRowInput.invalid
{
  outline: 1px solid red;
}

.DetailDataRowInput.valid
{
  outline: 1px solid green;
}

input:not([type='checkbox']).DetailDataRowInput:focus,
input:not([type='checkbox']).DetailDataRowInput:active 
{
  outline: 1px solid #007bff;
  border: none;
  color: #007bff;
  transition: color 0.5s, outline 0.5s;
}

.DetailControlRow
{
  gap: 10px;
}