.StackElement
{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}

.StackElementLine
{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.StackElementLine img.ElementLineLogo
{
    width: min(8%, 30px);
    height: min(8%, 30px);
    display: inline-block;
}

.StackElementLine .StackLineContent
{
    padding-left: 10px;
}

.StackElementLine h3.StackLineContentHeader
{
    font-weight: bold;
}

.StackElementLine p.StackLineContentText
{
    font-size: 0.9rem;
    color: #75736d;
}