.ConfirmIlustration
{
    width: 50%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.OAuthRedirect
{
    text-align: center;
}

.OAuthRedirect p.OAuthRedirect
{
    font-weight: bold;
}

.OAuthAccount
{
    margin: 10px 0px;
    font-size: 0.78rem;
}

.OAuthAccount:hover p
{
    color: blue;
    cursor: pointer;
}